body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    margin: 60px auto;
    background: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    color: #666;
}

label {
    display: block;
    margin-top: 18px;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 12px;
    margin-top: 7px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 7px;
}

button {
    width: 100%;
    padding: 13px;
    margin-top: 25px;
    border: none;
    border-radius: 7px;
    background: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
